<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="stylesheet" href="<%= BASE_URL %>cdn/element-ui/theme-chalk/index.css">
  <link rel="stylesheet" href="<%= BASE_URL %>cdn/font-awesome-4.7.0/css/font-awesome.min.css">
  <title>cellReport报表</title>
</head>
<script >
  __reportName__="$__reportName__$";
</script>
<body link="#9933ff" alink="#0066ff" vlink="#ff0000">
  <noscript>
    <strong>很抱歉，如果没有 JavaScript 支持，表单设计器 将不能正常工作。请启用浏览器的 JavaScript 然后继续。</strong>
  </noscript>
  <div id="app">

  </div>

  <script src="<%= BASE_URL %>cdn/vue/2.6.12/vue.min.js" charset="utf-8"></script>
  <script src="<%= BASE_URL %>cdn/element-ui/index.js" charset="utf-8"></script>
  <script src="<%= BASE_URL %>cdn/axios/0.21.1/axios.min.js" charset="utf-8"></script>

  <script src="<%= BASE_URL %>cdn/echarts.min.js" charset="utf-8"></script>
<script src="<%= BASE_URL %>cdn/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>

  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>cdn/jquery-easyui-1.4.5/themes/default/easyui.css">  
  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>cdn/jquery-easyui-1.4.5/themes/icon.css">  

  <script type="text/javascript" src="<%= BASE_URL %>cdn/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>  
  <script type="text/javascript" src="<%= BASE_URL %>cdn/jquery-easyui-1.4.5/locale/easyui-lang-zh_CN.js"></script>
  <script type="text/javascript" src="<%= BASE_URL %>js/jquery-easyui-extend/datagrid-filter.js"></script>    
  <script type="text/javascript" src="<%= BASE_URL %>js/jquery-easyui-extend/jquery.edatagrid.js"></script>  
  <script type="text/javascript" src="<%= BASE_URL %>js/toExcel.js?updateTime=-12352" ></script>
  <script src="<%= BASE_URL %>cdn/vue-grid-layout-legacy/dist/vue-grid-layout.umd.min.js" ></script>  
  <script src="<%= BASE_URL %>cdn/editor.md-master/lib/marked.min.js"></script>  
  
<!---->
<!-- 生产环境版本，优化了尺寸和速度 -->
<!-- 引入样式 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@nutui/nutui@2.2.15/dist/nutui.min.css">
<!-- 引入组件库 -->
<script src="https://cdn.jsdelivr.net/npm/@nutui/nutui@2.2.15/dist/nutui.min.js"></script>

</body>
 
</html>