<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="stylesheet" href="<%= BASE_URL %>cdn/element-ui/theme-chalk/index.css">
  <link rel="stylesheet" href="<%= BASE_URL %>cdn/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>cdn/avue/2.10.4/index.css">
  <title>cellReport报表</title>
</head>
<script >
  __reportName__="$__reportName__$";
  if(window.cellreport==undefined) window.cellreport={exec_num:0}
  
</script>
<body link="#9933ff" alink="#0066ff" vlink="#ff0000">
  <noscript>
    <strong>很抱歉，如果没有 JavaScript 支持，表单设计器 将不能正常工作。请启用浏览器的 JavaScript 然后继续。</strong>
  </noscript>
  <div id="app">

  </div>

  <script src="<%= BASE_URL %>cdn/vue/2.6.12/vue.min.js" charset="utf-8"></script>
  <script src="<%= BASE_URL %>cdn/element-ui/index.js" charset="utf-8"></script>
  <script src="<%= BASE_URL %>cdn/axios/0.21.1/axios.min.js" charset="utf-8"></script>
  <script src="<%= BASE_URL %>cdn/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  <script src="<%= BASE_URL %>cdn/vue-grid-layout-legacy/dist3/vue-grid-layout.umd.min.js" ></script>  
  <script src="<%= BASE_URL %>cdn/datav.min.vue.js"></script> 
  <script src="<%= BASE_URL %>js/linq.min.js"></script> 
  <script src="<%= BASE_URL %>cdn/avue/2.10.4/avue.min.js" charset="utf-8"></script>
  
</body>
 
</html>