
.el-col {
   margin-bottom: 0px; 
}
.cr_item_title{
    
  height: 15px;
  border: 1px solid;
  background: bisque;
  cursor: move;
  color:black;
  font-size: 9px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index:1000;
  }
$primary-color: #409eff;
$primary-active-color: #ecf5ff;
$primary-background-color: #ecf8ff;
.report_define{
  .el-drawer__header {
    margin-bottom: 3px; 
    padding: 20px 20px 0;
  }
  .el-divider--horizontal {
    margin: 12px 0;
  }
  #el_drawer_field {
    
      left:70%

  }
  .el-table__body tr.current-row>td {
    background-color:  rgb(197, 243, 224);
  }
  .el-table--small td, .el-table--small th {
    padding: 0px 0;
  }
  .el-table .el-cell {
    line-height: 18px;
    padding-right: 1px;
    padding-left: 1px;
  }

  *,
  :after,
  :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    margin: 0 !important;
  }

  #app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    min-height: 100%;
    height: 100%;
  }
  
  .form-designer {
    height: 100%;
    background: #fff;
    outline: 1px solid #e4e7ed;


    

    .fields-list {
      padding: 10px 0;
      width: 100%;
      height: 100%;

      .field-title {
        padding: 8px 12px;
        font-size: 13px;
      }

      ul {
        position: relative;
        overflow: hidden;
        padding: 0 10px 10px;
        margin: 0;
      }

      .field-label {
        font-size: 12px;
        display: block;
        width: 48%;
        line-height: 26px;
        position: relative;
        float: left;
        left: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 1%;
        color: #333;
        border: 1px solid #f4f6fc;

        &:hover {
          color: $primary-color;
          border: 1px dashed $primary-color;
        }

        & > a {
          display: block;
          cursor: move;
          background: #f4f6fc;
          border: 1px solid #f4f6fc;

          .icon {
            margin-right: 6px;
            margin-left: 8px;
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
          }

          span {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }

      .field-label-disabled {
        font-size: 12px;
        display: block;
        width: 48%;
        line-height: 26px;
        position: relative;
        float: left;
        left: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 1%;
        color: #333;
        border: 1px solid #f4f6fc;

        &:hover {
          color: gray;
          border: 1px dashed gray;
        }

        & > a {
          display: block;
          cursor: not-allowed;
          background: #f4f6fc;
          border: 1px solid #f4f6fc;

          .icon {
            margin-right: 6px;
            margin-left: 8px;
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
          }

          span {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }

    .widget-container {
      flex: 1;
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;

      .widget-container-header {
        height: 45px !important;
        //display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 2px #e4e7ed;
      }

      .el-main {
        padding: 0;
        position: relative;
      }
    }

    .widget-form-container {
      height: 100%;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .el-form {
        height: 100%;
        .el-row {
          height: 100%;
        }
      }

      .widget-form-list {
        height: 100%;
        min-height: calc(100% - 45px);
        padding-bottom: 1px;
        overflow: hidden;
        overflow-y: hidden;

        .widget-form-item {
          
          padding: 1px 1px 1px 1px;
          margin: 0;
          position: relative;
          border-left: 5px solid transparent;
          border: 1px dotted;
          &.required {
            .el-form-item__label::before {
              content: "*";
              color: #f56c6c;
              margin-right: 4px;
            }
          }

          &:after {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            display: block;
            z-index: 1001;
          }





          .widget-action-delete {
            position: absolute;
            right: 10px;
            top: 2px;
            z-index: 1002;
          }

          .widget-action-clone {
            position: absolute;
            right: 50px;
            top: 2px;
            z-index: 1002;
          }
        }

        .widget-form-group {
          position: relative;
          width: 100%;
          float: left;
          padding: 2px;

          &__head {
            margin: 10px;
          }

          &__body {
            min-height: 150px;
            height: 100%;
            outline: 1px dashed #ccc;
            outline-offset: -1px;
            overflow: hidden;
            padding-bottom: 1px;

            .ghost {
              background: white;
              border-left: 5px solid $primary-color;
              box-sizing: border-box;
              font-size: 0;
              content: "";
              overflow: hidden;
              padding: 0 !important;
              position: relative;
              outline: none 0;
              height: 100%;
              min-height: 57px;
              width: 0 !important;
              min-width: 0 !important;
              margin: 1px 2px 0 2px;
            }
          }

          &__item {
            padding: 10px;
            margin: 3px;
            position: relative;
            border-left: 5px solid transparent;
            background: white;

            &.required {
              .el-form-item__label::before {
                content: "*";
                color: #f56c6c;
                margin-right: 4px;
              }
            }

            &.active {
              outline: 1px solid $primary-color;
              outline-offset: -1px;
            }

            &:hover {
              outline: 1px solid $primary-color;
              outline-offset: -1px;
              cursor: move;
            }


            &--delete {
              position: absolute;
              right: 0;
              bottom: -24px;
              z-index: 1002;
            }

            &--clone {
              position: absolute;
              right: 34px;
              bottom: -24px;
              z-index: 1002;
            }
          }

          &.active {
            border-left: 3px solid $primary-color;
            background: $primary-active-color;
          }

          &:hover {
            background: $primary-background-color;
            cursor: move;
          }

          .widget-action-delete {
            position: absolute;
            right: 10px;
            top: 2px;
            z-index: 1001;
          }

          .widget-action-clear {
            position: absolute;
            right: 50px;
            bottom: -2px;
            z-index: 1001;
          }

          .widget-action-clone {
            position: absolute;
            right: 90px;
            top: 2px;
            z-index: 1001;
          }
        }

        .iconfont {
          font-size: 13px;
        }

        .el-button--small.is-circle {
          padding: 7px;
        }
      }

      .ghost {
        background: white;
        border-top: 5px solid $primary-color;
        box-sizing: border-box;
        font-size: 0;
        content: "";
        overflow: hidden;
        padding: 0 !important;
        position: relative;
        outline: none 0;
        height: 0 !important;
        width: 100%;
        margin: 2px 0;
      }
    }

    .widget-config-container {
      height: 100%;
      padding-top: 5px;

      .el-tabs {
        height: 100%;
      }

      .el-tabs__header {
        margin: 0;
        height: 45px;
        background: white;
        z-index: 1000;
      }

      .el-tabs__content {
        height: calc(100% - 45px);
        overflow-y: scroll;
      }

      .widget-config {
        .el-tabs__header {
          position: relative;
          display: block;
          top: 0;
          margin: 0;
        }

        .el-tabs__content {
          margin-top: 0;
        }

        .ghost {
          background: #fff;
          border: 1px dashed $primary-color;
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            display: flex;
            align-items: center;
            width: 100%;

            .ghost {
              list-style: none;
              font-size: 0;
              height: 35px;
            }
          }
        }
      }
      .avue-group__item {
        padding: 0;
      }
    }

    .el-container {
      height: 100%;

      .el-main {
        height: calc(100% - 45px);
        padding: 10px;
      }

      .el-aside {
        background: #fff;
      }
    }

    .danger {
      color: #f56c6c;
    }

    .warning {
      color: #e6a23c;
    }

    .el-input-number {
      width: 100%;
    }

    .el-select {
      width: 100%;
    }
  }

  .drawer-foot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;

    button {
      width: 50%;
    }

    & > span {
      display: inline-block;
      width: 50%;
      button {
        width: 100%;
      }
    }
  }

  .preview-form {
    overflow-y: scroll;
    height: 83vh;
  }

  .popper-bo {
    .el-alert {
      margin-bottom: 10px;
    }
  }

  .el-drawer__wrapper {
    :focus {
      outline: 0;
    }
  }

  .el-tabs--border-card{
    .el-tabs__content{
      height: calc(100% - 40px);
    }
  }
  .el-dialog__body {height: calc(100% - 60px);}
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius   : 10px;
  position: absolute;
  background-color: #61cdff;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : transparent;
  border-radius: 10px;
}